* {
  margin: 0 auto;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  width: 1920px;
  margin: 0px;
  padding: 0px;
}
.grid_txt1 {
  padding-left: 52px;
  padding-top: 44px;
  width: 302px;
  height: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #ffffff;
}

.header__wrapper {
  padding-top: 46px;
  padding-bottom: 128px;
  background-color: #171717;
  display: flex;
  align-items: center;
}
.call__back {
  display: flex;

  color: #e4b564;
  border: 1px solid #e4b564;
  margin-left: 1026px;
}
main {
  background-color: #171717;
}
.image_vector {
  margin-left: 26px;
}
.button_1 {
  margin-left: 10px;
  margin-right: 25px;
}
.callback_button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;

  text-decoration: none;
}

.h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.main_h2 {
  padding-bottom: 41px;
}
.paragraph_1 {
  width: 1182px;
  padding-bottom: 41px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.grid_container {
  padding-bottom: 161px;
  display: grid;
  grid-template-columns: 466px 233px 220px 466px;
  grid-auto-rows: 468px;
  row-gap: 25px;
  column-gap: 27px;
}
.item1span {
  width: 380px;
  height: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.grid_item_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 466px;
  height: 468px;
  background-color: #634f2c;
}
.grid_item_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 466px;
  height: 468px;
  background: #b4a385;
}
.grid_item_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4;
  grid-row: 1 / 2;
  width: 466px;
  height: 468px;
  background: #e4b564;
}
.grid_item_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 2 / 2;
  width: 715px;
  height: 468px;
  background: #635a4a;
}
.grid_item_5 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 5;
  grid-row: 2 / 2;
  background: #b08c4d;
  width: 715px;
  height: 468px;
}
.grid_wrapper {
  display: grid;
  grid-template-columns: 467px 467px 467px;
  grid-template-rows: 255px 32px 101px 122px;
  grid-gap: 25px 30px;
}
.item_1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row: span 2;
  width: 467px;
  height: 313px;
  background: #0e0e0e;
}
.item_2,
.item_4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 467px;
  height: 439px;
  background: #242424;
  grid-row: span 3;
}
.item_3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 467px;
  height: 255px;
  background: #1f1f1f;
}
.item_4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 467px;
  height: 313px;
  background: #0e0e0e;
}
.item_5 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row: span 3;
  width: 467px;
  height: 560px;
  background: #1f1f1f;
}
.item_6 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-row: span 2;
  width: 467px;
  height: 405px;
  background: #e4b564;
}
.item_7 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 467px;
  height: 277px;
  background: #0a0909;
}
.main_desc {
  padding-bottom: 94px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex_item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 487px;
  height: 391px;
  background: #634f2c;
}
.flex_item2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(232, 210, 171, 0.76);
  width: 487px;
  height: 391px;
}
.flex_item3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4b564;

  width: 487px;
  height: 391px;
}
.flex_item4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #635a4a;

  width: 487px;
  height: 391px;
}
.flex_item5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b08c4d;
  width: 487px;
  height: 391px;
}
.flex_item6 {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #634f2c;
  width: 487px;
  height: 391px;
}
footer {
  background: #0e0e0e;
  padding-top: 161px;
  padding-bottom: 238px;
}
.client_wrapper {
  padding-bottom: 72px;
}
.footer_h2 {
  margin-right: 723px;
}
.button_prjct {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
  margin-right: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #e4b564;
}
.client_wrapper {
  display: flex;
}
.button_wrpp {
  border: 1px solid #e4b564;
}

